.flex {
    display: flex;
    margin-bottom: 50px;
    
}
.flex:hover{
    background-color: rgb(233, 202, 24);
    opacity: 1;
    font-size: larger;
}

.img {
    width: 200px;
}

.breakline {
    color: black;
}

body {
    background: rgb(58,58,58);
    color: white;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    padding: 20px;
}

section {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

ul {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-right: 20px;
}

footer {
    background: black;
    padding: 10px 20px;
}

.navigation {
    display: inline-block;
    color: red;
    background-color: aqua;
}

#add-stuff-here {
    background-color: #F1E5AC;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Garamond;
    transition: 0.15s background-color, 0.15s font-size;
}

#home_body {
    background: rgb(58,58,58);
    color: white;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

#home_header {
    background: black;
    padding: 20px;
}

.home_section {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.home_div {
    background: red;
    margin: auto;
    width: 100px;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: Helvetica;
}

#home_ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.home_li {
    display: inline-block;
    margin-right: 20px;
}

#home_footer {
    background: black;
    padding: 10px 20px;
}

#hub {
    color: darkblue;
    font-weight: bold;
    font-family: Helvetica;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 15%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

/* header for the Tutorial page*/
.tutorial-header {
    display: flex;
    flex-direction: column;
}